trigger: none
pool: test

stages:
  - stage: continuos_integration
    displayName: Continous Integration Stage
    jobs:
    - job: 
      displayName: Continous Integration Job Steps
      steps: 
      - task: NodeTool@0
        displayName: Install NodeJS 
        inputs:
          versionSource: 'spec'
          versionSpec: 'v25.2.1'
          checkLatest: true
      - task: PowerShell@2
        displayName: Check Node Version
        inputs:
          targetType: 'inline'
          script: 'node -v'
      - task: PowerShell@2
        displayName: Install Node Dependencies
        inputs:
          targetType: 'inline'
          script: 'npm i'
      - task: PowerShell@2
        displayName: Build React Project
        inputs:
          targetType: 'inline'
          script: 'npm run build'
      - task: PublishBuildArtifacts@1
        displayName: Publish Build Artifacts into Pipeline
        inputs:
          PathtoPublish: '$(System.DefaultWorkingDirectory)/build'
          ArtifactName: 'todo-ui'
          publishLocation: 'Container'

  - stage: continous_deployment_stage
    dependsOn: continuos_integration
    displayName: Continous Deployment Stage
    jobs:
      - deployment: Continous_Deployment
        displayName: Push Code to Virtual Machine Steps
        environment:
          name: Sandbox-Playground
          resourceType: VirtualMachine
        strategy: 
          runOnce:
            deploy:          
              steps:
              - task: DownloadBuildArtifacts@1
                displayName: Download Artifacts into Virtual Machine
                inputs:
                  buildType: 'current'
                  downloadType: 'single'
                  artifactName: 'todo-ui'
                  downloadPath: '/tmp/test'

              - script: |
                  sudo mv /tmp/test/todo-ui/* /var/www/html
                displayName: Move Build Artifacts to Nginx Default Directory


# Continuous Deployment

# ============ Before with jobs
# Step 1
# Download ARTIFACT   --> local system

# Dependency --> ssh - 22 port enabled, nsg -- 22 inbound port allow, public ip
# step 2: Copy files over ssh --> local system to Vm push

# step 3: VM command          --> copy files from /tmp/something to /var/www/html

# ============After with deployments and environments
# Step 0: make sure nginx is installed already

# Step 1:
# Environments -->
# --> new Environments  --> enter name of env
# --> resources type --> none | K8s | VM ✅
# --> select VM
#  --> OS --> select windows or linux ✅
#  --> Execute code inside vm with  ---> ssh, bastion host, virtual machine -- custom data
#  --> vm will display under resources in Environments

# Step 2:  download ARTIFACT directly into virtual machines

# Step 3:  Move/copy ARTIFACT from source directory to destination (/var/www/html)
