trigger: none 
pool: self_hosted_pool

steps: 
- task: NodeTool@0
  displayName: Install NodeJS 
  inputs:
    versionSource: 'spec'
    versionSpec: 'v25.2.1'
    checkLatest: true
- task: PowerShell@2
  displayName: Check Node Version
  inputs:
    targetType: 'inline'
    script: 'node -v'
- task: PowerShell@2
  displayName: Install Node Dependencies
  inputs:
    targetType: 'inline'
    script: 'npm i'
- task: PowerShell@2
  displayName: Build React Project
  inputs:
    targetType: 'inline'
    script: 'npm run build'
- task: ArchiveFiles@2
  displayName: Create Zip File of Build Folder
  inputs:
    rootFolderOrFile: '$(System.DefaultWorkingDirectory)/build/'
    includeRootFolder: true
    archiveType: 'zip'
    archiveFile: '$(System.DefaultWorkingDirectory)/build.zip'
    replaceExistingArchive: true

